extends layout_page

block content
  .row.justify-content-md-center.mt-4
    .col
      h1.mb-3 Módulo Coletor - Incluir
      if success
        .alert.alert-success
          strong Sucesso!
          |  O módulo coletor foi registrado com sucesso
  form(method="post")
    .row.mt-3.p-3.bg-faded.rounded
        - var code = '';
        .col
          .form-group.row
            - code = 'serial';
            label.col-sm-2.col-form-label.text-right(for=code) Serial
            .col-sm-10
              input(type="text" class="form-control" id=code name=code placeholder="Ex: ACFE394")
          .form-group.row
            - code = 'nome';
            label.col-sm-2.col-form-label.text-right(for=code) Nome
            .col-sm-10
              input(type="text" class="form-control" id=code name=code placeholder="Ex: AP 01 - 001")
          .form-group.row
            - code = 'condominioUidpk';
            label.col-sm-2.col-form-label.text-right(for=code) Condomínio
            .col-sm-10
              select(class="form-control" id=code name=code onchange="window.location.href = '/coletor/incluir/' + this.value")
                option(value='')
                each c in condominios
                  if c.uidpk == selectedCondominio
                    option(value=c.uidpk selected='selected')= c.nome
                  else
                    option(value=c.uidpk)= c.nome
          .form-group.row
            - code = 'unidadeUidpk';
            label.col-sm-2.col-form-label.text-right(for=code) Unidade
            .col-sm-10
              select(class="form-control" id=code name=code)
                option(value='')
                each c in unidades
                  option(value=c.uidpk)= c.nome
          
          a(href="/coletor" class="btn btn-secondary mr-2") Voltar
          button(type="submit" class="btn btn-primary")
            i.fa.fa-floppy-o.mr-2
            | Salvar