extends layout_page

block content
  .row.justify-content-md-center.mt-4
    .col
      h1.mb-3 Condomínio - Incluir
      if success
        .alert.alert-success
          strong Sucesso!
          |  O condomínio foi registrado com sucesso
  form(method="post")
    .row.mt-3.p-3.bg-faded.rounded
        - var code = '';
        .col
          .form-group.row
            - code = 'nome';
            label.col-sm-2.col-form-label.text-right(for=code) Nome
            .col-sm-10
              input(type="text" class="form-control" id=code name=code placeholder="Ex: Praia Azul")
          .form-group.row
            - code = 'endereco';
            label.col-sm-2.col-form-label.text-right(for=code) Endereço
            .col-sm-10
              input(type="text" class="form-control" id=code name=code placeholder="Ex: janeiro")
          a(href="/condominio" class="btn btn-secondary mr-2") Voltar
          button(type="submit" class="btn btn-primary")
            i.fa.fa-floppy-o.mr-2
            | Salvar