extends layout_page

block content
  script
    | var plotData = !{plotData}; var plotType = '!{plotType}';
  .row.justify-content-md-center.mt-4
    .col
      h1.mb-3 Consulta
      form(method="post")
        .form-group.row
          label.col-sm-1.col-form-label.text-right Tipo
          - code = 'tipo';
          .col-sm-3
            .form-check.form-check-inline
              label.form-check-label
                input(type="radio" checked="checked" class="form-check-input" name=code value="line")
                |  Detalhado
            .form-check.form-check-inline
              label.form-check-label
                input(type="radio" class="form-check-input" name=code value="bar")
                |  Total
          - code = 'dtInicio';
          label.col-sm-1.col-form-label.text-right(for=code) Início
          .col-sm-2
            input(type="text" class="form-control" id=code name=code placeholder="2017-06-08 10:00")
          - code = 'dtFim';
          label.col-sm-1.col-form-label.text-right(for=code) Fim
          .col-sm-2
            input(type="text" class="form-control" id=code name=code placeholder="2017-06-08 10:00")
          .col-sm-2
            button(type="submit" class="btn btn-primary") Buscar
      canvas(id="dashboard-total" style="width: 50%; height: 200px")