extends layout_page

block content
  .row.justify-content-md-center.mt-4
    .col
      h1.mb-3 Conta de Água
      p
        a.btn.btn-primary(href="/conta_agua/incluir")
          i.fa.fa-plus-circle.mr-2
          | Incluir Nova Conta de Água
      table.table.table-striped
        thead.thead-inverse
          tr
            th Código
            th Mês de referência
            th Leitura Anterior
            th Leitura Atual
            th Vencimento
            th(colspan=2) Valor
        tbody
          each c in contas
            tr
              td=c.codigo
              td=c.mes_referencia
              td=c.dt_leitura_anterior
              td=c.dt_fim_leitura
              td=c.dt_ventimento
              td=c.valor
              td
                a(href=`/conta_agua/rateio/${c.uidpk}` class='btn btn-info btn-sm')
                  i.fa.fa-money.mr-2
                  | Rateio